<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.sweng.fiktion">

    <!-- Permissions -->


    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <!-- Google Maps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission android:name="ch.epfl.sweng.fiktion.permission.MAPS_RECEIVE" />

    <uses-permission android:name="ch.epfl.sweng.fiktion.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google Maps OpenGL -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCq0bRqkZxZBbjlLkz_0Us7LNxFWBGPMGk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LocationActivity"
            android:label="@string/title_activity_location">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.HomeActivity" />
        </activity>
        <activity android:name=".views.tests.SimpleAddPOIActivity" />
        <activity android:name=".views.tests.FindNearestPoisActivity" />
        <activity android:name=".views.tests.DisplayNearestPoisActivity" />
        <activity android:name=".views.SignInActivity" />
        <activity android:name=".views.RegisterActivity" />
        <activity
            android:name=".views.AddPOIActivity"
            android:label="Add a place" />
        <activity
            android:name=".views.GetLocationFromMapActivity"
            android:label="Click on the map...">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.AddPOIActivity" />
        </activity>
        <activity
            android:name=".views.GetLocationFromWikipediaActivity"
            android:label="Wikipedia link">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.AddPOIActivity" />
        </activity>
        <activity android:name=".views.HomeActivity" />
        <activity android:name=".views.POIPageActivity" />
        <activity
            android:name=".views.SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".views.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".views.TextSearchActivity"
            android:label="Search" />
        <activity android:name=".views.WriteCommentActivity" />
        <activity
            android:name=".views.NearbyListActivity"
            android:label="Nearby">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.LocationActivity" />
        </activity>
        <activity
            android:name=".views.UserPlacesActivity"
            android:label="@string/title_activity_user_places"
            android:parentActivityName=".views.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.ProfileActivity" />
        </activity>
        <activity
            android:name=".views.UserPicturesActivity"
            android:label="@string/title_activity_user_pictures"
            android:parentActivityName=".views.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.ProfileActivity" />
        </activity>
        <activity
            android:name=".views.UserAchievementsActivity"
            android:label="@string/title_activity_user_achievements"
            android:parentActivityName=".views.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.ProfileActivity" />
        </activity>
        <activity
            android:name=".views.UserFriendsActivity"
            android:label="@string/title_activity_user_friends"
            android:parentActivityName=".views.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.epfl.sweng.fiktion.views.ProfileActivity" />
        </activity>
        <activity android:name=".views.FullscreenPictureActivity"></activity>
    </application>

</manifest>